# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Unity_MVC.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\Personal\Unity\Unity_MVC\.idea\.idea.Unity_MVC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
